# dependencies
node_modules/

# environment variables
.env
.env.local
.env.development
.env.production

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build outputs
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# coverage
coverage/

# Ignore GitMe internal storage
.myGit/
backend/gitme-storage/
node_modules/
.env