/*  FORCE GITHUB DARK THEME */

.react-calendar-heatmap .color-empty {
  fill: #161b22 !important;
}

.react-calendar-heatmap .color-github-1 {
  fill: #0e4429 !important;
}

.react-calendar-heatmap .color-github-2 {
  fill: #006d32 !important;
}

.react-calendar-heatmap .color-github-3 {
  fill: #26a641 !important;
}

.react-calendar-heatmap .color-github-4 {
  fill: #39d353 !important;
}

/* Remove white borders */
.react-calendar-heatmap rect {
  stroke: #0d1117;
  stroke-width: 1px;
}

/* Hover effect (GitHub-like) */
.react-calendar-heatmap rect:hover {
  stroke: #ffffff;
  stroke-width: 1.5px;
}
