/* .box{
    height: 40px;
    width: 40px;
   background-color: rgb(60, 77, 42);
}
#first{
    color: rgb(253, 0, 0);
}

#second{
    color: blueviolet;
}

/* #img{
    background-image: url(pic.jpg);
    height: 1100px;
    width: 1000px;
    background-position: center;
    background-repeat: no-repeat;
     */
/* 
#pic{
    /* height: 300px;
    width: 300px;
    

} */

/* *{
    padding: 0px;
    margin: 0px;
} */ 
/* #box{
    background-color: aqua;
    height: 300px;
    width: 300px;
    text-align: right;
    text-decoration: underline;
    border: 2px solid rebeccapurple;
    margin: 20px 20px 30px 90px;
    background-image: url(pic.jpg);

    */
/* 
    *{
        padding: 0px;
        margin: 0px;
    }
    nav a{
        text-decoration: none;
        margin-left: 55px;
        padding: 5px; 
        color: rgb(255, 255, 255);
    
    }

    nav{
        padding: 5px;
    }
    header{
        background-color: rgb(14, 73, 75);
        height: 30px;
    }
    
    #second{
        height: 50px;
        width: 50px;
        background-color: rgb(0, 4, 128);
        border-radius: 50%;
    }
    .box{
        height: 100px;
        width: 100px;
        background-color: greenyellow;
        margin: 10px;
        display: inline-block;
    }

    #container{
        border: 2px solid red;
        margin: 5px;
    }
    #box4{
        position: fixed;
        right: 10px;
    }
    #box2{
        z-index: 2;
    }
    footer{
        position: fixed;
        bottom: 0px;
        background-color: gainsboro;
    }
 */

/* 

 *{
    padding: 0%;
    margin: 0%;
 }
 #sp{
    height: 50px;
    width: 50px;
    background-color: blueviolet;
    text-align: center;
    margin: 20px;
    display: inline-block;
 }

 #nav{
    height: 70px;
    width: 100%;
    background-color: aqua;
 }
 .box{
    height: 50px;
    width: 50px;
    background-color: blue;
    margin: 20px;
    display: inline-block;
 } */
  /* *{
    padding: 0%;
    margin: 0%;
  }
  #container{
    border: 2px solid red;
    height: 110px;
    width: 300px;
  }
  .box{
    height: 100px;
    width: 100px;
    margin: 5px;
  }

  #box1{
    background-color: rgb(255, 136, 0);
    float: right; */
  
    /* *{
        padding: 0;
        margin: 0;
    }
    #main{
       margin-left: 5px;
       text-align: center;
    }
    #container{
        background-color: rgb(140, 193, 193);
        height: 600px;
        width: 600px;
        padding: 10px;
        margin: 20px;
        border: 3px solid blue;
        display: grid;
        flex-wrap: wrap;
      grid-template-columns: 80px 100px;
      grid-template-rows: 40px 50px;
       
    }

    .box{
        background-color: rgb(255, 0, 0);
        color: rgb(255, 255, 255);
        height: 80px;
        width: 80px;
        border: 3px solid black;
        margin: 5px;
        text-align: center; */
        
        
      
        
        *{
            padding: 0%;
            margin: 0%;
        }
    nav a{
        text-decoration: none;
    }
    header{
        background-color: rgb(73, 226, 43);
    }
    nav{
        display: flex;
        justify-content: space-around;
        height: 30px;
        padding: 2px;
    }
    img{
        height: 200px;
        
    }
    #img_container{
        border: 3px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
    }
    .box{
        height: 75px;
        width: 75px;
        border: 2px solid rgb(72, 0, 255);
    }
    #box_container{
        border: 2px solid rgb(0, 255, 60);
        display: flex;
        justify-content: space-around;
        height: 80px;
        width: 400px;

    }

 
